body{
    margin: 0;
}

*,*:after,*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4{
    margin: 0;
}

/*container*/
/*1170*/
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/*intro*/
/*1170*/
.intro{ 
    padding-top: 189px;
    width: 100%;
    height: 1212px;
    background: url(../images/header.jpg) top
    no-repeat;  
}

.intro_toptext{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
}

.intro_title{
    font-weight: normal;
    width: 700;
    font-size: 50px;
    color: black;
}

.subtitle{
    text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.64);
    font-weight: 100;
    width: 330;
    font-size: 24px;
    color: white;
}

.intro_block{
    position: relative;
    margin: auto;
    top: 140px;
    height: 596px;
    width: 1028px;
    box-shadow: 0 0 20px .1px black;
    background: url(../images/IntroBlock_corner.png) no-repeat, white;
    display: flex;
    justify-content: start;
}

.introblock_boards{
    margin-left: 30px;
    margin-top: 45px;
    width: 413px;
    height: 528px;
    background: url(../images/Board.png) no-repeat;
}

.introblock_kinds{
    margin-left: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kind2, .kind3, .kind4{
    margin: 1.5px 0;
    height: 70px;
    width: 70px;
    border: 1px solid #cccccc;
}

.kind1{
    margin: 1.5px 0;
    height: 70px;
    width: 70px;
    border: 3px solid #00b0ff;
    background: url(../images/Kind1.png) no-repeat;
}

.kind2{
    background: url(../images/Kind2.png) no-repeat;
}

.kind3{
    background: url(../images/Kind3.png) no-repeat;
}

.kind4{
    background: url(../images/Kind4.png) no-repeat;
}

.introblock_information{
    margin: auto auto auto 42px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 398px;
    height: 100%;
}
.nameboard{
    padding-top: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
    width: 340px;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
}

.rating{
    margin-top: 10px;
    display: flex;
}

.full_star{
    flex-basis: auto;
    margin-right: 3px;
    width: 14px;
    height: 14px;
    background-color: #f2d800;
}
.empty_star{
    width: 14px;
    height: 14px;
    border: solid 1px #787878;
    background-color: #787878;
}
.rating_amount{
    margin-left: 6px;
    width: 23px;
    height: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #787878;
}
.desc_change{
    margin-top: 39px;
    display: flex;
}

.desc1{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.desc{
    margin-left: 28px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.7px;
    text-align: left;
    color: #a0a0a0;
    text-transform: uppercase;
}

.items_line{
    margin-top: 5px;
    width: 100%;
    height: 3px;
    display: flex;
    align-items: flex-end;
}
.active_item{
    width: 98px;
    height: 3px;
    background-color: #00b0ff;
}

.fade{
    width: 300px;
    height: 1px;;
    background-color: #cccccc;
}

.desc_text{
    margin-top: 22px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #787878;
}

.buy{
    margin-top: 33px;
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
}

.buy_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.buy_but{
    margin-left: 29px;
    cursor: pointer;
    text-transform: uppercase;
    width: 137px;
    height: 44px;
    border: none;
    outline: none;
    user-select: none;
    background-color: #00b0ff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.4px;
    color: white;
    transition-duration: 0.4s;
}

.buy_but:hover{
    background-color: #0099ff;
}

.view_all{
    margin-top: 82px;
    height: 20px;
    width: 100%;
}

.viewall_text{
    width: 123px;
    height: 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #00b0ff;
}

.viewall_line{
    height: 2px;
    width: 122px;
    background-color: #00b0ff;
}

.introblock_text{
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
    left: 638px;
    top: 258px;
    position: absolute;
    text-transform: uppercase;
    opacity: .03;
    height: 81px;
    font-family: 'Montserrat', sans-serif;
    font-size: 127px;
    font-weight: bold;
    letter-spacing: 6.1px;
    color: black;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);    
    transform:rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.slide_buts{
    position: absolute;
    top: 46px;
    left: auto;
    right: -36px;
    width: 72px;
    height: 38px;
    background-color: #f2d800;
    display: flexbox;
}
.slide_buts button{
    cursor: pointer;
    border: none;
    width: 36px;
    height: 38px;
    background-color: #f2d800;
    font-size: 18px;
    color: #f7f7f7;
    transition-duration: 0.4s;
}

.slide_buts button:hover{
    background-color: #d9c200;
}

.slide_but1{
    outline: none;
}

.slide_but2{
    outline: none;
    margin-left: -4px;
}

.pages{
    padding-top: 11px;
    text-align: center;
    position: absolute;
    top: 84px;
    left: auto;
    right: 0;
    width: 56px;
    height: 38px;
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: -0.6px;
    color: #ffffff;
}

/*HEADER*/
.header{
    padding: 25px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    font-family: 'Montserrat Black', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: black;
}

/*nav*/
.nav{
    padding-right: 80px;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.nav_link{
    padding: 7px 10px;
    display: inline-block;
    vertical-align: top;
    margin: 1px;
    color: black;
    text-decoration: none;
}

.nav_link:hover{
    background-color: #00b0ff;
    color: white;
}

/*header_icons*/
.header_icons{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.header_icons div {
    margin: 5px;
    width: 36px;
    height: 36px;
}

#icon_facebook{
    background: url(../images/facebook.png) no-repeat;
}
#icon_instagram{
    background: url(../images/Instagram.png) no-repeat;
}
#icon_mail{
    background: url(../images/Mail.png) no-repeat;
}

/*content*/
/*about-us*/
.About-us{
    position: relative;
    width: 100%;
    height: 1157px;
}
.About-us_text{
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
    text-align: center;
    text-transform: uppercase;
    opacity: .03;
    font-family: 'Montserrat', sans-serif;
    font-size: 196px;
    font-weight: bold;
    letter-spacing: 14.6px;
    color: black;
    text-transform: uppercase;
}

.About-us_block{
    position: absolute;
    top: 172px;
    width: 100%;
    height: 640px;
    background-color: black;
    background-image: url(../images/AboutUs.jpg);
    box-shadow:0 0 0 360px rgba(0, 0, 0, .2) inset;
}
.About_us_textblock{
    position: absolute;
    left: 0;
    top: 467px;
    width: 945px;
    height: 501px;
    background-color: white;
}

.about_toptext{
    padding-top: 95px;
    width: 100%;    
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 2.5px;
    text-align: center;
    color: #000000;
}
.about_x{
    margin-top: 16px;
    color: black;
    text-align: center;
}

.about_text{
    margin: 22px auto 0 auto;
    width: 341px;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-style: italic;
    line-height: 1.73;
    text-align: left;
    color: #000000;
}

.about_more{
    width: 341px;
    margin: 22px auto 0 auto;
}

.more_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #00b0ff;
}

.more_line{
    width: 88px;
    height: 2px;
    background-color: #00b0ff;

}.about_video{
    position: absolute;
    left: 1015px;
    top: 734px;
    width: 500px;
    height: 300px;
    background-image: url(../images/Video.jpg);
    box-shadow:0 0 0 180px rgba(0, 0, 0, .2) inset;
    cursor: pointer;
}

.about_video:hover .video_but{
    transition: .7s;
    opacity: 1;
}
.about_video:hover .about_circle{
    transition: .7s;
    opacity: .7;
}

.about_circle {
    margin: 80px auto;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    opacity: .3;
    border: solid 1px white;
  }

.video_but{
    position: absolute;
    margin: 105px 205px;
    display: inline-block;
    outline: none;
    text-decoration: none;
    user-select: none;
    opacity: 0.6;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    color: white;
    font-size: 32px;
    border: solid 5px white;
    background: none;
}


/*Our-team*/
.Our-team{
    position: relative;
    width: 100%;
    height: 586px;
}

.team_text{
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
    text-align: center;
    text-transform: uppercase;
    opacity: .03;
    font-family: 'Montserrat', sans-serif;
    font-size: 190px;
    font-weight: bold;
    letter-spacing: 14px;
    color: black;
    text-transform: uppercase;
}

.team_blocks{
    position: absolute;
    top: 145px;
    width: 100%;
    height: 308px;
    display: flex;
    justify-content: center;
}

.team_block1, .team_block2, .team_block3,
.team_block4{
    width: 260px;
    height: 278px;
    border-radius: 4px;
    box-shadow: 10px 17.3px 50px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    cursor: pointer;
}

.team_block1:hover, .team_block2:hover, .team_block3:hover,
.team_block4:hover{
    background-color: #00b0ff;
}

.team_block1{
    left: 30px;
    position: relative;
}

.team_block2{
    top: 30px;
    right: 250px;
    position: relative;  
}
.team_block3{
    left: 250px;
    position: relative; 
}
.team_block4{
    right: 30px;
    top: 30px;
    position: relative;
}

.button_left, .button_right{
    position: relative;
    top: 129px;
    bottom: 129px;
    width: 51px;
    height: 50px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.16);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    font-size: 18px;
    color:#0022ff;
}

.button_left:hover, .button_right:hover{
    background-color: #cccccc;
}

.block1_picture, .block2_picture,
.block3_picture, .block4_picture{
    width: 100px;
    height: 100px;
    margin: 30px 0 0 0;
    border-radius: 50%;
    border: solid 2px #ffffff;
}