body{
    margin: 0;
}

*,*:after,*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4{
    margin: 0;
}

/*container*/
/*1170*/

/*intro*/
/*1170*/
.intro{ 
    padding-top: 189px;
    width: 100%;
    height: 1196px;
    background: url(../images/intro.jpg) top
    no-repeat;  
}

.intro_inner{
    width: 100%;
    max-width: 1188px;
    height: 836px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.intro_toptext{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    max-width: 760px;
    text-align: center;
}

.intro_title{
    font-weight: normal;
    width: 700;
    font-size: 50px;
    color: black;
}

.subtitle{
    text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.64);
    font-weight: 100;
    width: 330;
    font-size: 24px;
    color: white;
}

.content{
    position: relative;
    height: 2288px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*Surf*/

.intro_block{
    position: relative;
    height: 596px;
    width: 1028px;
    box-shadow: 0 0 20px .1px black;
    background: url(../images/IntroBlock_corner.png) no-repeat, white;
    display: flex;
    justify-content: start;
}

.introblock_boards{
    margin-left: 30px;
    margin-top: 45px;
    width: 413px;
    height: 528px;
    background: url(../images/Board.png) no-repeat;
}

.introblock_kinds{
    margin-left: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kind2, .kind3, .kind4{
    margin: 1.5px 0;
    height: 70px;
    width: 70px;
    border: 1px solid #cccccc;
}

.kind1{
    margin: 1.5px 0;
    height: 70px;
    width: 70px;
    border: 3px solid #00b0ff;
    background: url(../images/Kind1.png) no-repeat;
}

.kind2{
    background: url(../images/Kind2.png) no-repeat;
}

.kind3{
    background: url(../images/Kind3.png) no-repeat;
}

.kind4{
    background: url(../images/Kind4.png) no-repeat;
}

.introblock_information{
    margin: auto auto auto 42px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 398px;
    height: 100%;
}
.nameboard{
    padding-top: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
    width: 340px;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
}

.rating{
    margin-top: 10px;
    display: flex;
}

.full_star{
    flex-basis: auto;
    margin-right: 3px;
    width: 14px;
    height: 14px;
    background-color: #f2d800;
}
.empty_star{
    width: 14px;
    height: 14px;
    border: solid 1px #787878;
    background-color: #787878;
}
.rating_amount{
    margin-left: 6px;
    width: 23px;
    height: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #787878;
}
.desc_change{
    margin-top: 39px;
    display: flex;
}

.desc1{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.desc{
    margin-left: 28px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.7px;
    text-align: left;
    color: #a0a0a0;
    text-transform: uppercase;
}

.items_line{
    margin-top: 5px;
    width: 100%;
    height: 3px;
    display: flex;
    align-items: flex-end;
}
.active_item{
    width: 98px;
    height: 3px;
    background-color: #00b0ff;
}

.fade{
    width: 300px;
    height: 1px;;
    background-color: #cccccc;
}

.desc_text{
    margin-top: 22px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #787878;
}

.buy{
    margin-top: 33px;
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
}

.buy_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.buy_but{
    margin-left: 29px;
    cursor: pointer;
    text-transform: uppercase;
    width: 137px;
    height: 44px;
    border: none;
    outline: none;
    user-select: none;
    background-color: #00b0ff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.4px;
    color: white;
    transition-duration: 0.4s;
}

.buy_but:hover{
    background-color: #0099ff;
}

.view_all{
    margin-top: 82px;
    height: 20px;
    width: 100%;
}

.viewall_text{
    width: 123px;
    height: 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #00b0ff;
}

.viewall_line{
    height: 2px;
    width: 122px;
    background-color: #00b0ff;
}

.introblock_text{
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
    left: 638px;
    top: 258px;
    position: absolute;
    text-transform: uppercase;
    opacity: .03;
    height: 81px;
    font-family: 'Montserrat', sans-serif;
    font-size: 127px;
    font-weight: bold;
    letter-spacing: 6.1px;
    color: black;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);    
    transform:rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.slide_buts{
    position: absolute;
    top: 46px;
    left: auto;
    right: -36px;
    width: 72px;
    height: 38px;
    background-color: #f2d800;
    display: flexbox;
}
.slide_buts button{
    cursor: pointer;
    border: none;
    width: 36px;
    height: 38px;
    background-color: #f2d800;
    font-size: 18px;
    color: #f7f7f7;
    transition-duration: 0.4s;
}

.slide_buts button:hover{
    background-color: #d9c200;
}

.slide_but1{
    outline: none;
}

.slide_but2{
    outline: none;
    margin-left: -4px;
}

.pages{
    padding-top: 11px;
    text-align: center;
    position: absolute;
    top: 84px;
    left: auto;
    right: 0;
    width: 56px;
    height: 38px;
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: -0.6px;
    color: #ffffff;
}

/*HEADER*/
.header{
    padding: 25px;
    margin: 0 auto;
    width: 1188px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    font-family: 'Montserrat Black', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: black;
}

/*nav*/
.nav{
    padding-right: 80px;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.nav_link{
    padding: 7px 10px;
    display: inline-block;
    vertical-align: top;
    margin: 1px;
    color: black;
    text-decoration: none;
}

.nav_link:hover{
    background-color: #00b0ff;
    color: white;
}

/*header_icons*/
.header_icons{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.header_icons div {
    margin: 5px;
    width: 36px;
    height: 36px;
}

#icon_facebook{
    background: url(../images/facebook.png) no-repeat;
}
#icon_instagram{
    background: url(../images/Instagram.png) no-repeat;
}
#icon_mail{
    background: url(../images/Mail.png) no-repeat;
}

/*content*/
/*about-us*/
.About-us{
    position: relative;
    width: 100%;
    height: 1022px;
}
.About-us_text{
    /*width: 1188px;
    -moz-user-select: none; 
    -ms-user-select: none; 
    -o-user-select: none; 
    -webkit-user-select: none; 
    text-align: center;
    text-transform: uppercase;
    opacity: .03;
    font-family: 'Montserrat', sans-serif;
    font-size: 186px;
    font-weight: bold;
    letter-spacing: 14.6px;
    color: black;
    text-transform: uppercase;*/
    width: 1162px;
    height: 143px;
    margin: 0 auto;
    background-image: url(../images/AboutUsText.jpg);
}

.About-us_block{
    position: absolute;
    top: 120px;
    width: 100%;
    height: 640px;
    background-color: black;
    background-image: url(../images/AboutUs.jpg);
    box-shadow:0 0 0 360px rgba(0, 0, 0, .2) inset;
}

.About_us_backblock{
    position: absolute;
    left: 0;
    top: 458px;
    width: 945px;
    height: 564px;
    background-color: white;
}

.About_us_textblock{
    position: absolute;
    left: 475px;
    width: 369px;
    height: 564px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_toptext{
    padding-top: 95px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 2.5px;
    color: black;
    text-transform: uppercase;
    
}
.about_x{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
}

.about_text{
    margin-top: 22px;
    width: 341px;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-style: italic;
    line-height: 1.73;
    text-align: left;
    color: #000000;
}

.about_more{
    width: 341px;
    margin-top: 22px;
}

.more_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #00b0ff;
}

.more_line{
    width: 88px;
    height: 2px;
    background-color: #00b0ff;

}.about_video{
    position: absolute;
    left: 1015px;
    top: 722px;
    width: 500px;
    height: 300px;
    box-shadow: 20px 34.6px 50px 0 rgba(0, 0, 0, 0.2);
    background-image: url(../images/Video.jpg);
    cursor: pointer;
}

.about_video:hover .video_but{
    transition: .7s;
    opacity: 1;
}
.about_video:hover .about_circle{
    transition: .7s;
    opacity: .7;
}

.about_circle {
    margin: 80px auto;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    opacity: .3;
    border: solid 1px white;
  }

.video_but{
    position: absolute;
    margin: 105px 205px;
    display: inline-block;
    outline: none;
    text-decoration: none;
    user-select: none;
    opacity: 0.6;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    color: white;
    font-size: 32px;
    border: solid 5px white;
    background: none;
}


/*Our-team*/
.Our-team{
    position: relative;
    width: 1188px;
    height: 408px;
}

.team_text{
    /*
    -moz-user-select: none;
    -ms-user-select: none; 
    -o-user-select: none; 
    -webkit-user-select: none; 
    text-align: center;
    text-transform: uppercase;
    opacity: .03;
    font-family: 'Montserrat', sans-serif;
    font-size: 190px;
    font-weight: bold;
    letter-spacing: 14px;
    color: black;
    text-transform: uppercase;*/
    width: 1159px;
    height: 138px;
    margin: 0 auto;
    background-image: url(../images/OurTeamText.jpg);
}

.team_blocks{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 308px;
    display: flex;
    justify-content: center;
}

.team_block1, .team_block2, .team_block3,
.team_block4{
    width: 260px;
    height: 278px;
    border-radius: 4px;
    box-shadow: 10px 17.3px 50px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content .Our-team .team_blocks > div:hover{
    background-color: #00b0ff;
}

.content .Our-team .team_blocks > div:hover .name{
    color: white;
}

.content .Our-team .team_blocks > div:hover .mail,
.content .Our-team .team_blocks > div:hover .location > p
{
    color: #b3e7ff;
}

.content .Our-team .team_blocks > div:hover .location > div{
    background-image: url(../images/PinSelected.png);
}

.content .Our-team .team_blocks > div:hover .line{
    background-image: url(../images/LineSelected.png)
}

.team_block1{
    left: 30px;
    position: relative;
}

.team_block2{
    top: 30px;
    right: 250px;
    position: relative;  
}
.team_block3{
    left: 250px;
    position: relative; 
}
.team_block4{
    right: 30px;
    top: 30px;
    position: relative;
}

.button_left, .button_right{
    position: relative;
    top: 129px;
    bottom: 129px;
    width: 51px;
    height: 50px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.16);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    font-size: 18px;
    color:#0022ff;
}

.button_left:hover, .button_right:hover{
    background-color: #cccccc;
}

.block1_picture, .block2_picture,
.block3_picture, .block4_picture{
    width: 100px;
    height: 100px;
    margin: 30px 0 0 0;
    border-radius: 50%;
    border: solid 2px #ffffff;
}

.block1_picture{
    background-image: url(../images/Team1.jpg)
}

.block2_picture{
    background-image: url(../images/Team2.jpg)
}

.block3_picture{
    background-image: url(../images/Team3.jpg)
}

.block4_picture{
    background-image: url(../images/Team4.jpg)
}

.name{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00b0ff;
}

.block1_info, .block2_info, .block3_info, .block4_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8c8c8c;
}

.line{
    width: 31px;
    height: 6px;
    color: #646464;
    background-image: url(../images/Line.png)
}

.content .Our-team .team_blocks .location{
    margin-bottom: 45px;
    display: flex;
}

.content .Our-team .team_blocks .location > div{
    width: 10px;
    height: 13px;
    background-image: url(../images/Pin.png);
    margin-right: 5px;
}

.content .Our-team .team_blocks .location > p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #8c8c8c;
}

/*Updates*/
.Updates{
    position: relative;
    width: 1188px;
    height: 516px;
}

.in{
    position: relative;
    width: 1188px;
    height: 516px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Updates .Topper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Updates .Topper .text{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 2.5px;
    color: black;
    text-transform: uppercase;
}

.Updates .Topper .x{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
}

.Updates .blocks{
    width: 870px;
    height: 344px;
    display: flex;
    justify-content: space-between;
}

.Updates .blocks > div{
    width: 270px;
    height: 344px;
    background-color: white;
    cursor: pointer;
}

.Updates .blocks .Photo{
    width: 270px;
    height: 203px;
}

.Updates .blocks .block1 .Photo{
    background-image: url(../images/Update1.jpg)
}

.Updates .blocks .block2 .Photo{
    background-image: url(../images/Update2.jpg)
}

.Updates .blocks .block3 .Photo{
    background-image: url(../images/Update3.jpg)
}

.Updates .blocks p{
    margin: 13px auto;
    width: 216px;
    height: 88px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #787878;
}

.Updates .blocks > div:hover{
    box-shadow: 0px 2px 30px 0 rgba(0, 0, 0, 0.2);
}

.Updates .blocks > div:hover p{
    color: #0022ff;
}

.Updates button{
    margin-left: 29px;
    width: 197px;
    height: 44px;
    border: none;
    outline: none;
    user-select: none;
    background-color: #00b0ff;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.4px;
    color: white;
    transition-duration: 0.4s;
}

.Updates button:hover{
    background-color: #0099ff;
}