body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    font-size: 16px;
    color: #787878;
}

*,*:after,*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4{
    margin: 0;
}

/*container*/
/*1170*/
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/*intro*/
/*1170*/
.intro{ 
    padding-top: 180px;
    width: 100%;
    height: 1300px;
    background: url(../images/header.jpg) top
    no-repeat;  
}

.intro_toptext{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    max-width: 740px;
    margin: 0 auto;
    text-align: center;
}

.intro_title{
    font-weight: 100;
    width: 700;
    font-size: 50px;
    color: black;
}

.subtitle{
    margin-top: -5px;
    opacity: 0.9;
    font-weight: 100;
    width: 330;
    font-size: 24px;
    color: white;
}

.intro_block{
    position: relative;
    margin: auto;
    top: 130px;
    height: 600px;
    width: 1030px;
    box-shadow: 0 0 20px .1px black;
    background: url(../images/IntroBlock_corner.png) no-repeat, white;
    display: flex;
    justify-content: start;
}

.introblock_boards{
    margin-left: 30px;
    margin-top: 45px;
    /*position: relative;
    left: 30px;
    top: 45px*/
    width: 413px;
    height: 528px;
    background: url(../images/Board.png) no-repeat;
}

.introblock_kinds{
    
    /*position: relative;
    left: 50px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kind2, .kind3, .kind4{
    flex-basis: auto;
    margin: 3px;
    height: 68px;
    width: 68px;
    border: 1px solid #cccccc;
}

.kind1{
    flex-basis: auto;
    margin: 3px;
    height: 70px;
    width: 70px;
    border: 3px solid #00b0ff;
    background: url(../images/Kind1.png) no-repeat;
}

.kind2{
    background: url(../images/Kind2.png) no-repeat;
}

.kind3{
    background: url(../images/Kind3.png) no-repeat;
}

.kind4{
    background: url(../images/Kind4.png) no-repeat;
}

.introblock_information{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    width: 400px;
    height: 100%;
}

/*HEADER*/
.header{
    padding: 25px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    font-family: 'Montserrat Black', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: black;
}

/*nav*/
.nav{
    padding-right: 80px;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.nav_link{
    padding: 7px 10px;
    display: inline-block;
    vertical-align: top;
    margin: 1px;
    color: black;
    text-decoration: none;
}

.nav_link:hover{
    background-color: #00b0ff;
    color: white;
}

/*header_icons*/
.header_icons{
    display: flex;
    justify-content: center;
}

.header_icons div {
    margin: 5px;
    width: 36px;
    height: 36px;
}

#icon_facebook{
    background: url(../images/facebook.png) no-repeat;
}
#icon_instagram{
    background: url(../images/Instagram.png) no-repeat;
}
#icon_mail{
    background: url(../images/Mail.png) no-repeat;
}
