body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    font-size: 16px;
    color: #787878;
}

*,*:after,*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4{
    margin: 0;
}

/*container*/
/*1170*/
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/*intro*/
/*1170*/
.intro{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 1300px;
    background: url(../images/header.jpg) top
    no-repeat;  
}
.intro::before{

}

.intro_inner{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    width: 100%;
    max-width: 740;
    margin: 0 auto;
    text-align: center;
}

.intro_title{
    font-weight: 100;
    width: 700;
    font-size: 50px;
    color: black;
}

.subtitle{
    font-weight: 100;
    width: 700;
    font-size: 24px;
    color: white;
}

.intro_block{
    height: 300px;
    width: 600px;
    background-color: white;
    box-shadow: black;
    margin-top: 100px;
}


/*HEADER*/
.header{
    padding: 25px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    font-family: 'Montserrat Black', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: black;
}

/*nav*/
.nav{
    padding-right: 80px;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.nav_link{
    padding: 7px 10px;
    display: inline-block;
    vertical-align: top;
    margin: 1px;
    color: black;
    text-decoration: none;
}

.nav_link:hover{
    background-color: #00b0ff;
    color: white;
}

/*header_icons*/
.header_icons{
    display: flex;
    justify-content: center;

}

.header_icons div {
    margin: 5px;
    width: 36px;
    height: 36px;

}

#icon_facebook{
    background: url(../images/facebook.png) no-repeat;
}
#icon_instagram{
    background: url(../images/Instagram.png) no-repeat;
}
#icon_mail{
    background: url(../images/Mail.png) no-repeat;
}