body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    font-size: 16px;
    color: #787878;
}

*,*:after,*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4{
    margin: 0;
}

/*container*/
/*1170*/
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/*intro*/
/*1170*/
.intro{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 700px;
    background: url(../images/header.jpg) top
    no-repeat;  
}
.intro::before{
    content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 1) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(49%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 1) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 1) 100%);
  /* IE10+ */
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 1) 100%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
}

.intro_inner{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    width: 100%;
    max-width: 740;
    margin: 0 auto;
    text-align: center;
}

.intro_title{
    font-weight: 100;
    width: 700;
    font-size: 50px;
    color: black;
}

.subtitle{
    font-weight: 100;
    width: 700;
    font-size: 24px;
    color: white;
}


/*HEADER*/
.header{
    padding: 25px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    font-family: 'Montserrat Black', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: black;
}

/*nav*/
.nav{
    padding-right: 80px;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.nav_link{
    padding: 7px 10px;
    display: inline-block;
    vertical-align: top;
    margin: 1px;
    color: black;
    text-decoration: none;
}

.nav_link:hover{
    background-color: #00b0ff;
    color: white;
}

/*header_icons*/
.header_icons{
    display: flex;
    justify-content: center;

}

.header_icons div {
    margin: 5px;
    width: 36px;
    height: 36px;

}

#icon_facebook{
    background: url(../images/facebook.png) no-repeat;
}
#icon_instagram{
    background: url(../images/Instagram.png) no-repeat;
}
#icon_mail{
    background: url(../images/Mail.png) no-repeat;
}